body {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.Container {
  width: 80%;
  height: 80%;
  margin: auto;
  background-color: #fafafa;
  z-index: 2;
}

.Header {
  display: flex;
  width: 100%;
  background-color: #fff;
}

.navItems {
  display: flex;
  justify-content: space-evenly;
}

.logo > a {
  text-decoration: none;
  color: #0290ff;
  font-family: 'Montserrat', serif;
  font-size: 1.875rem;
  font-weight: bold;
  font-stretch: normal;
}

.menu > li > a {
  color: #000;
  font-size: 0.813rem;
  font-family: 'Monserrat', serif;
  font-weight: normal;
  text-decoration: none;
  letter-spacing: 1.9px;
  padding: 10px;
}

.logo > a:hover {
  color: #f88;
  font-size: 16px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.additionForm > input {
  margin: 0 2% 0 0;
  padding: 0.813rem;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  outline: none;
}

.additionForm > input::placeholder {
  font-family: 'Montserrat', serif;
  font-size: 1rem;
  color: #c4c4c4;
  width: 4.75rem;
  height: 1.188rem;
  letter-spacing: -0.15px;
}

.additionForm > button {
  color: #fff;
  background-color: #0290ff;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin: 2% 0;
}

.additionForm > button:hover {
  box-shadow: inset -3px -5px 47px rgba(0, 0, 0, 0.6);
  padding: 12px;
  color: #f88;
}

h1 {
  color: #f88;
}

#SVG {
  margin: 1% 0 0 66%;
  color: #0290ff;
}

.Divider {
  margin: 2% auto;
  width: 75rem;
  height: 0.125rem;
  border: 1px solid #e8e8e8;
  background-color: #e8e8e8;
}
